<div class="flex justify-center header">
  <h1>Congratulations!</h1>
</div>

<div class="flex justify-center">
  <div class="text-block">
    <p>Thanks for logging in and testing this app.</p>

    <p>You can fetch the code for this app <a id="code_link" href="https://github.com/angelus380/vault">here</a>.</p>

    <p>Follow me at <a id="code_link" href="https://twitter.com/delmar380">Twitter</a>.</p>

    <p>Thanks again.</p>
  </div>
</div>