<div class="flex justify-center">
  <h1>Welcome</h1>
</div>

<div class="flex justify-center">
  <div>
    <p>Hi! My name is Delmar, I'm a Designer learning all I can about programming.</p>

    <p>My porpuse in learning is to be able to develop my own apps and projects for future usage, being it for work or maybe my next startup</p>

    <p>Right know I'm learning Ruby on Rails (again).</p>

    <p>I did a 2 month course of Ruby on Rails in the summer of 2015, and since then my work has been around HTML, CSS and Javascript.</p>

    <p>I'll be doing some tutorials and then develop some small applications in order to learn as much as possible about Rails.</p>

    <p>This will be my first application done with Ruby on Rails</p>

    <p>It's a simple login app, fell free to try it in a few simple steps. No, really, it's just 3 steps, nothing more.</p>

    <p>This is just for testing so for privacy reasons the signup and login doesn't require an email, although you can submit it if you want.</p>
  </div>
</div>
